@media print {
    body * {
      visibility: hidden;
    }
    #printcard,
    #printcard * {
      visibility: visible;
    }
    #printcard {
      position: absolute;
      left: 0;
      top: 0;
    }
  }