ul{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    margin-top: 50px;
    text-decoration: none;
    
    width: 500px;
    list-style: none;
    gap: 10px;
}


body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    width: 700px;
    height: 450px;
    
    border: 2px solid rgb(8, 8, 8);
}
.card{
    
    width: 500px;
    height: 350px;
    background-color: red !important;
    font-size: 1.2em;
    padding: 20px;
    border: 2px solid rgb(8, 8, 8);
    
}
.printButton{
    width: 120px;
    height: 40px;
    font-size: 1.5em;
    cursor: pointer;
}
@media print { 
    
    }
